<div class = "wrapper">
	<div class = "col-md-6">
		<%= form_for :encryption, :url => {:action => "create", :id => @encryption} do |f| %>
			<table>
				<tr>
					<th>
						<%= f.label :message %>
					</th>
					<th>
						<%= f.label :shift %>
					</th>

				</tr>
				<tr>
					<td class = "col-md-5">
						<%= f.text_area :message, rows: 5 %>
					</td>
					<td class = "col-md-2">
						<%= f.select :shift, (-500..500), :selected => "1", class: "btn btn-info dropdown-toggle" %>
					</td>
				</tr>
	
			</table>
			<br />
			<%= f.submit "Submit", :reload => true, class: "btn btn-info" %>
		<%end%>
	</div>
	<div class = "col-md-6">
		<%= render 'encryptions/show' %>
	</div>
</div>
